body {
	background: #DDD url('../images/backgr.jpg') fixed center;
	background-size: cover;
	color: #FFF;
	font: 14px Verdana;
}

.whole{
width: 100%;	
}

.right{
	float: right;
	width: 30%;
	height: 100%;
}

#name {
	float: right;
	font-size: 40px;
	text-shadow: 0 3px 0 #000, 0 3px 5px #dedede ;
}

#quote p {
	text-align: right;
	font-size: 25px;
	font-style: italic;
}
.picture_right{
	float:right;
	height: 290px;
	width: 200px;
	padding-right: 10px;
}
#contact{
	padding-top: 50px;
	float:right;
}

#switch{
	float:right;
	margin-left: 190px;
	
  }

.left{
	float:left;
	width: 70%
}

.picture{
	float:left;
	height: 590px;
	width: 690px;
	padding: 3px;
	margin-top: 30px;
	margin-left: 15px;
	border-color: #BCC6CC;
	border-width:5px;
	border-style:groove;
}